<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

   <!-- Enable features -->
   <featureManager>
      <feature>appSecurity-3.0</feature>
      <feature>webProfile-8.0</feature>
      <feature>restConnector-2.0</feature>
      <feature>jaxrs-2.1</feature>
      <feature>transportSecurity-1.0</feature>
   </featureManager>

   <!-- CORS is handled by MaskCORSFilter (see MASK_CORS_ALLOWED_ORIGINS) -->

   <keyStore id="defaultKeyStore" location="${server.output.dir}/keystore.p12"
      password="{xor}NDomDCswLToPKDs=" />
   <ssl id="defaultSSLConfig" sslProtocol="TLSv1.2" />

   <!-- The MaskAdmin user may change masking policy (POST v1/masker/updateMasks).
   Set its credentials with the MASK_ADMIN_USER and MASK_ADMIN_PASSWORD
   environment variables (e.g., in server.env or with docker run -e). Liberty
   grants the MaskAdmin role to members of the group of the same name. If no
   password is set, the user can not log in and updateMasks is refused. -->
   <variable name="mask.admin.user" defaultValue="maskadmin" />
   <variable name="mask.admin.password" defaultValue="" />
   <basicRegistry id="basic" realm="BasicRealm">
      <user name="${mask.admin.user}" password="${mask.admin.password}" />
      <group name="MaskAdmin">
         <member name="${mask.admin.user}" />
      </group>
   </basicRegistry>

   <!-- To access this server from a remote client add a host attribute to 
   the following element, e.g. host="*" and change -1 to 9443 or port for https -->
   <httpEndpoint host="*" id="defaultHttpEndpoint"
   httpPort="9080" httpsPort="9980" />

   <!-- Automatically expand WAR files and EAR files -->
   <applicationManager autoExpand="true" />

   <!-- keyStorePwd
   <keyStore id="defaultKeyStore"
      location="${server.output.dir}/keystore.p12"
   password="{xor}NDomDCswLToPKDs=" />
   -->
   
   <remoteFileAccess>
      <writeDir>${server.config.dir}</writeDir>
      <writeDir>${server.output.dir}</writeDir>
      <writeDir>${wlp.user.dir}</writeDir>
   </remoteFileAccess>

</server>